# Server execution port
PORT=5000

# MongoDB connection string (Atlas URI or Local URI)
MONGO_URI=mongodb+srv://<username>:<password>@cluster.mongodb.net/postdb?retryWrites=true&w=majority

# Client Application URL for CORS configuration
CLIENT_URL=http://localhost:5173

# Cloudinary Storage Configuration
CLOUDINARY_CLOUD_NAME=your_cloudinary_cloud_name
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret

# Node execution mode (development / production)
NODE_ENV=development
